/* variables colores */
$color-color1: #90afc5;
$color-color2: #336b87;
$color-color3: #2a3132;
$color-color4: #fff;
$color-color5: #763626;
$color-color6:#ba5536;
$color-color7: #000000;
$color-color8:#aebd38; 


/* variables texto */
$font-stack:  Helvetica, sans-serif;
$font-family: arial black;

/* alineaacion*/
$text-align1:center;
$text-align3:left;
$text-align3:right;